<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>volume</run_mode>
  <particles>500000</particles>
  <batches>80</batches>
  <inactive>20</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-10.70864 -10.70864 36.748 10.70864 10.70864 402.508</parameters>
    </space>
  </source>
  <volume_calc>
    <domain_type>material</domain_type>
    <domain_ids>15 17 7 9 5 6 16 1</domain_ids>
    <samples>100000000</samples>
    <lower_left>-10.70864 -10.70864 0.0</lower_left>
    <upper_right>10.70864 10.70864 460.0</upper_right>
  </volume_calc>
</settings>
